<!-- <p>create-character works!</p> -->

<div>
    <label>
        <!-- <input [(ngModel)]="hero.CharacterName" placeholder="Your character name"/> -->
    </label>
</div>

<div>{{selectedRaceOptionObj.word}}</div>

<div>
    <input list="classTypes">
    <datalist id="classTypes">
        <option value="Fighter">{{selectedRaceOptionObj.word}}</option>
        <option value="Wizard">{{selectedRaceOptionObj.word}}</option>
        <option value="Rogue">{{selectedRaceOptionObj.word}}</option>
        <option value="Cleric">{{selectedRaceOptionObj.word}}</option>
    </datalist>
    
    <input list="raceTypes">
    <datalist id="raceTypes">
        <option value="Human"></option>
        <option value="Elf"></option>
        <option value="Dwarf"></option>
        <option value="Halfling"></option>
    </datalist>    
</div>
