<div class="centered-content has-background-grey-light">
    <div class="home-container">
      <div class="home-selected-container has-background-light">
        <h2 class="title has-text-primary">Roll a new character!</h2>
        <form name="form" [formGroup]="newCharacterForm" (ngSubmit)="sendCharacterToDB()">
          <div class="form-group" [ngClass]="{ 'has-error': submitted && field.playerName.errors }">
            <label for="playerName">Player Name:</label>
            <input  type="text"
                    class="form-control"
                    name="playerName"
                    formControlName="playerName"
                    id="playerName" required/>
            <div *ngIf="submitted && field.playerName.errors" class="help-block">
                What's your name?
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': submitted && field.characterName.errors }">
            <label for="characterName">Character name:</label>
            <input  type="textarea" 
                    class="form-control"
                    name="characterName"
                    formControlName="characterName"
                    id="characterName"
                   required />
            <div *ngIf="submitted && field.characterName.errors" class="help-block">
                What's your character's name?
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': submitted && field.characterLevel.errors }">
            <label for="characterLevel">Character Level</label>
            <input  type="number" 
                    min="1" max="20"
                    class="form-control" 
                    name="characterLevel" 
                    formControlName="characterLevel" 
                    id="characterLevel"
                   required />
            <div *ngIf="submitted && field.characterLevel.errors" class="help-block">
                Are we starting at level 1?
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': submitted && field.characterRace.errors }">
            <label for="characterRace">Character race:</label>
            <!--TODO: Update datalist to select, and use Angular to generate from my model>
            <input type="text" list="races" [(ngModel)]="raceValue">
            <select type="text" list="races" [(ngModel)]-->
            <input  list="characterRace"
                    class="form-control"
                    name="characterRace"
                    formControlName="characterRace"
                    id="characterRace" 
                    required>
              <datalist id="characterRace">
                      <option value="Elf"></option>
                      <option value="Dwarf"></option>
                      <option value="Human"></option>
              </datalist>
            <div *ngIf="submitted && field.characterRace.errors" class="help-block">
                Is your character an elf, dwarf or human?
            </div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': submitted && field.characterClass.errors }">
            <label for="characterClass">Character class:</label>
            <input  list="characterClass"
                    class="form-control"
                    name="characterClass"
                    formControlName="characterClass"
                    id="characterClass" 
                    required>
              <datalist id="characterClass">
                      <option value="Fighter"></option>
                      <option value="Rogue"></option>
                      <option value="Wizard"></option>
                      <option value="Cleric"></option>
              <!--TODO: Update datalist to select, and use Angular to generate from my model-->
              </datalist>
            <div *ngIf="submitted && field.characterClass.errors" class="help-block">
                Is your character a fighter, rogue, wizard or cleric?
            </div>
          </div>
          <div *ngIf="submitted && error" class="form-group" [ngClass]="{ 'has-error': submitted && error }">
            <div class="help-block">{{error}}</div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="button is-grey-lighter has-background-gray">Create character!</button>
            <button [routerLink]="['/']" class="btn-link ">Cancel</button>
          </div>
        </form>
        <app-roll-stats></app-roll-stats>
      </div>
    </div>
  </div>