<div class="stat-container">
    <div class="stat">
        <div class="itself">{{thisCharacter.strength}}</div>
        <div class="label">STR</div>
    </div>
    <div class="stat">
        <div class="itself">{{thisCharacter.dexterity}}</div>
        <div class="label">DEX</div>
    </div>
    <div class="stat">
        <div class="itself">{{thisCharacter.constitution}}</div>
        <div class="label">CON</div>
    </div>
    <div class="stat">
        <div class="itself">{{thisCharacter.intelligence}}</div>
        <div class="label">INT</div>
    </div>
    <div class="stat">
        <div class="itself">{{thisCharacter.wisdom}}</div>
        <div class="label">WIS</div>
    </div>
    <div class="stat">
        <div class="itself">{{thisCharacter.charisma}}</div>
        <div class="label">CHA</div>
    </div>
</div>
