<div class="stat-container">
    <div class="stat">
        <div class="itself">+{{Strength}}</div>
        <div class="label">STR</div>
    </div>
    <div class="stat">
        <div class="itself">+{{Dexterity}}</div>
        <div class="label">DEX</div>
    </div>
    <div class="stat">
        <div class="itself">+{{Constitution}}</div>
        <div class="label">CON</div>
    </div>
    <div class="stat">
        <div class="itself">+{{Intelligence}}</div>
        <div class="label">INT</div>
    </div>
    <div class="stat">
        <div class="itself">+{{Wisdom}}</div>
        <div class="label">WIS</div>
    </div>
    <div class="stat">
        <div class="itself">+{{Charisma}}</div>
        <div class="label">CHA</div>
    </div>
</div>
