<div *ngIf="thisCharacter">
    <div class="character-details-container">
        <div class="player-name detail">
            <div class="detail-label">Player name:</div>
            <div class="detail-itself">{{thisCharacter.playerName}}</div>
        </div>
        <div class="character-details detail">
            <div class="detail-label">Character name:</div>
            <div class="detail-itself">{{thisCharacter.characterName}}</div>
            <div class="detail-label">Character level:</div>
            <div class="detail-itself">{{thisCharacter.characterLevel}}</div>
        </div>
        <div class="character-race-and-class detail">
            <div class="detail-label">Character race:</div>
            <div class="detail-itself">{{thisCharacter.characterRace}}</div>
            <div class="detail-label">Character class:</div>
            <div class="detail-itself">{{thisCharacter.characterClass}}</div>
        </div>
    </div>
</div>
