<div *ngIf="">
<div class="character-details-container">
    <div class="player-name">
        <div class="">Player name:</div>
        <div class="">{{thisCharacter.playerName}}</div>
    </div>
    <div class="character-name">
        <div class="">Character name:</div>
        <div class="itself">{{thisCharacter.characterName}}</div>
    </div>
    <div class="character-level">
        <div class="">Character level:</div>
        <div class="itself">{{thisCharacter.characterLevel}}</div>
    </div>
    <div class="character-race">
        <div class="">Character race:</div>
        <div class="itself">{{thisCharacter.characterRace}}</div>
    </div>
    <div class="character-class">
        <div class="">Character class:</div>
        <div class="itself">{{thisCharacter.characterClass}}</div>
    </div>
</div>