<div class="character-list">
    <div class="page-content">
        <div *ngIf="CharacterList$ | async as characters">
            <div class="characterList">
                <span class="individual-character" *ngFor="let char of characters">
                    <p>{{char.language}}</p>
                    <button (click)="deleteCharacter(char._id)">Delete</button>
                </span>
            </div>    
        </div>
        
        <div class="roll-buttons">
            <button type="button"
                title="Open a form to create a new character"
                (click)="newCharacter()"
                class="new-character-button">
                New Character
            </button>
        </div>
        
    </div>
</div>
