<div *ngIf="CharacterList$ | async as characters">
    <ul class="characterList">
        <app-character-panel *ngFor="let char of characters"></app-character-panel>
        <!-- app-character-details *ngFor="let char of characters">
            <[class.selected]="char === selectedCharacter"
            (click)="selectRecipe(recipe)">
            {{ char.characterName }} 
        </app-character-details -->
        <app-stats></app-stats>
    </ul>    
</div>

<button (click)="newCharacter()">New Character</button>